// header top
.header__top {
  width: 92%;
  margin: 0 auto;
  max-width: 1440px;
  background-color: white;
  padding: 0.6rem 0;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__top__div1,
  .header__top__div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: gray;
    font-weight: 500;
    & p span {
      margin-left: 0.3rem;
    }
  }
  .header__selected_valyuta,
  .header__selected {
    border: 0;
  }
  .header__top_div2__p .lime {
    color: green;
  }

  @media (max-width: 868px) {
    .header__top {
      display: none;
    }
  }
}

// header bottom
.header__bottom {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0.4rem 0 0;
  border-top: 1px solid rgb(201, 199, 199);
  border-bottom: 1px solid rgb(201, 199, 199);

  .header__bottom__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .header-input select {
      width: 150px;
      height: 98%;
      text-align: center;
      font-weight: 500;
    }
    .header-input span {
      color: #cacaca;
    }

    .header-input {
      width: 700px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      border: 3px solid #bce3c9;
      border-radius: 5px;

      .header-input1 {
        width: 630px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.8rem;

        input {
          width: 90%;
          height: 98%;
          padding: 0.3rem 1rem;
          border: 0;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .location {
      padding: 0.8rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 5px;
      border: 2px solid #b6b6b6;

      select {
        font-size: 15px;
        font-weight: 500;
        color: #3bb77e;
      }
    }
    .navbar-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      a {
        display: flex;
        align-items: start;
        color: #b6b6b6;
        gap: 3px;
        font-weight: 500;
      }
    }
  }

  .header-nav {
    max-width: 1480px;
    width: 1420px;
    margin: 0.3rem auto;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    .navbar-left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .browse {
      padding: 0.6rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-weight: 600;
      color: white;
      border-radius: 5px;
      background-color: #3bb77e;

      .alls option {
        font-weight: 600;
        font-size: 14px;
      }
    }
    .navbar-tabs {
      margin-left: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      gap: 1rem;
      .deals {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        font-weight: 700;
      }
      p, select {
        font-size: 1.1rem;
        font-weight: 500;
      }
      .home-select {
        color: #39c885;
      }
    }
    .support-center {
      width: 200px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      h5 {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        align-items: center;
        color: #3bb77e;
        span {
          font-size: 0.8rem;
          color: #b6b6b6;
          font-weight: 500;
        }
      }
    }
  }
}
